.first-date{
   position: relative;       
   font-family: 'FFGoodPro';
   font-weight: 200;
   text-align: center;
   padding-bottom: 4vw;
   
   &__sample {
      z-index: 1;
      width: 70%; 
      margin-left: 12.5vw;     
      display: flex;   
   }

   &__sample-img{
      width: 100%;   
   }

   &__wrapper{
      position: absolute;
      
   }
   &__img{
      position: absolute;
      
      background-color:lightgrey;
      
      
      &:first-child{
         z-index: -1;
         margin-top: 12vw;
         margin-left: 2vw;
         width: 34.5vw;
         height: 30vw;
         transform: rotate(-8deg);
         clip-path: polygon(
            0% 0%,      
            70% 0%,    
            85% 4.5%,    
            95% 14%,    
            100% 30%,   
            95% 48%,   
            85% 65%,   
            70% 80%,   
            50% 100%,
            0% 100%    
         );
      }
      &:last-child{
         z-index: -2;
         
         margin-top: 4vw; 
         margin-left: 28vw;
         width: 39vw;
         height: 38.5vw;
      }
      
   }


   &__title{
      font-size: 4vw;
      margin-left: auto;
      margin-top: 5vw;
      margin-bottom: 3vw;
   }
   &__subtitle{
      z-index: 2;
      font-size: 3vw;
      margin-top: 3vw;
      margin-left: auto;
      margin-bottom: 5vw;
      
   }
   &__hearts-container{
      position: absolute;
      z-index: 1;
      
      height: 100vw;
      width: 100vw;
      bottom: 0;
         
   }
}

.heart {
   
   position: absolute;
   bottom: 0;
   font-size: 24px;
   animation: floatUp linear forwards;
   user-select: none;
   color: #ff4d4d;
   width: 10px;
   height: 10px;
}

@keyframes floatUp {
   0% {
      transform: translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateY(-800%);
      opacity: 0;
   }
}