
.header{
   border: 1px solid lightgrey;
   &__container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

   }

   &__heart{
      height: 3vw;
      padding:20px;
      border-right: 1px solid lightgrey;
   }
   &__logo{
      height: 3vw;
      padding:20px;
      border-radius: 10px;
      object-fit: cover;
   }
}