.roses{
   position: relative;
   height: 80vw;
   &__bg{
      position: absolute;
      width: 100vw;
      z-index: 0;
      object-fit: contain;
   }

   &__rose-l{
      position: absolute;
      z-index: 10;
      width: 30%;
      height: auto;
      object-fit: contain;
      object-position: center;
      bottom: 0;
      animation: roses-rotate-l 10s ease-in-out alternate infinite;
   }

   &__rose-r{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 10;
      width: 30%;
      height: auto;
      
      object-fit: contain;
      object-position: center;
      animation: roses-rotate-r 10s ease-in-out alternate infinite;
   }

   &__rose-img{
      position: absolute;
      z-index: -2;
      background-color: lightgrey;
      width: 15.5vw;
      height: 16vw;
      margin-top: 36.5vw;
      margin-left: 42vw;
         
      &:first-child{
         z-index: -1;
         margin-top: 43vw;
         margin-left: 27.5vw;
         transform: rotate(-20.5deg);

      }
      &:last-child{
         z-index: -1;
         margin-top: 43vw;
         margin-left: 57vw;
         transform: rotate(20.5deg);
         
      }
   }


}


@keyframes roses-rotate-l {
   0% { transform: rotate(-10deg); }
   50% { transform: rotate(10deg); }
   100% { transform: rotate(-10deg); }
}

@keyframes roses-rotate-r {
   0% { transform: rotate(10deg); }
   50% { transform: rotate(-10deg); }
   100% { transform: rotate(10deg); }
}