.roses{
   position: relative;
   height: 80vw;

   
   background-image: url('../images/roses-bg.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100vw;
   @media (max-width: 768px){
         background-size: 180vw;
         height: 158vw;
   }


   &__rose-l{
      position: absolute;
      z-index: 10;
      width: 30%;
      height: auto;
      object-fit: contain;
      object-position: center;
      bottom: 15%;
      animation: roses-rotate-l 10s ease-in-out alternate infinite;
   }

   &__rose-r{
      position: absolute;
      right: 0;
      bottom: 15%;
      z-index: 10;
      width: 30%;
      height: auto;
      
      object-fit: contain;
      object-position: center;
      animation: roses-rotate-r 10s ease-in-out alternate infinite;
   }

   &__rose-img{
      position: absolute;
      z-index:-2;
      background-color: lightgrey;
      width: 17vw;
      height: 16.2vw;
      margin-top: 32.5vw;
      margin-left: 41vw;
      
      &:first-child{
         width: 17.4vw;
         height: 16.7vw;
         z-index: -1;
         margin-top: 38.9vw;
         margin-left: 26vw;
         transform: rotate(-20.5deg);

      }
      &:last-child{
         height: 16.7vw;
         width: 17.2vw;
         z-index:-1;
         margin-top: 39vw;
         margin-left: 55.6vw;
         transform: rotate(20.5deg);
         
      }

      @media (max-width: 768px){
         margin-top: 65vw;
         width: 30vw;
         height: 31vw;
         margin-left: 34vw;

         &:first-child{
            width: 30vw;
            height: 31vw;
            margin-top: 77vw;
            margin-left: 7.5vw;
            transform: rotate(-20.5deg);

         }
         &:last-child{
            width: 31vw;
            height: 31vw;
            margin-top: 78vw;
            margin-left: 59.5vw;
            transform: rotate(20.5deg);
            
         }
      }

      @media (max-width: 375px){
         margin-top: 65vw;
         width: 30vw;
         height: 31vw;
         margin-left: 32vw;

         &:first-child{
            width: 30vw;
            height: 31vw;
            margin-top: 77vw;
            margin-left: 5vw;
            transform: rotate(-20.5deg);

         }
         &:last-child{
            width: 31vw;
            height: 31vw;
            margin-top: 78vw;
            margin-left: 58vw;
            transform: rotate(20.5deg);
            
         }
      }


      
   }


}


@keyframes roses-rotate-l {
   0% { transform: rotate(-10deg); }
   50% { transform: rotate(10deg); }
   100% { transform: rotate(-10deg); }
}

@keyframes roses-rotate-r {
   0% { transform: rotate(10deg); }
   50% { transform: rotate(-10deg); }
   100% { transform: rotate(10deg); }
}