.slider {
  position: relative;
  width: 100%;
  height: 60vw;
  @media (max-width: 768px) {
      height: 100vw;
  }




  &__bg {
    position: absolute;
    inset: 0;
    width: 100vw;
    height: 60vw;
    object-fit: cover;          // обрезает края, центр всегда виден
    object-position: center;
    z-index: -1;

   @media (max-width: 768px) {
      height: 100vw;
    }

   
  }

  &__wrapper {
    position: absolute;
    top: 20%;                   // процент от высоты слайдера, а не vw
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 60%;                // процент от высоты слайдера
    gap: 5%;

    @media (max-width: 768px) {
      flex-direction: row;
      top: 25vw;
      width: 100%;
      height: 70%;
      gap: 5%;
    }

    @media (max-width:450px) {
      top: 12vw;
      width: 170%;
      height: 69%;
    }
  }

  &__slide {
    flex: 0 0 28%;
    display: flex;
    align-items: start;
    overflow: hidden;
    

    &.hide {
      opacity: 0 !important;
      pointer-events: none;
    }

    

  }

  &__slide-sample-img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__slide-img {
    width: 88%;
    height: 57%;               
    display: block;
    margin-left: -94%;
    margin-top: 7%;
    background-color: lightgrey;
    z-index: -1;
    position: relative;

   @media (max-width: 768px) {
      height: 35%;  
     }
    @media (max-width: 450px) {
      height: 61%;  
     }
  
  }

  &__btn-wrapper {
    position: absolute;
    left: 50%;
    bottom: 20%;   
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 20vw;                // можно оставить vw или тоже перевести в %
    z-index: 2;

    @media (max-width: 768px) {
      width: 30vw;
      bottom: 20%;      
    }

    @media (max-width: 450px) {
      bottom: 14%; 
      width: 40vw;
    }

    
  }

  &__btn {
    font-family: 'FFGoodPro', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 2rem;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: rgba(0,0,0,0.8);
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media (max-width: 768px) {
      width: 8vw;
      height: 8vw;
      font-size: 5vw;          // стрелки адаптируются
    }

    @media (max-width: 450px) {
      width: 15vw;
      height: 15vw;
      font-size: 10vw;          // стрелки адаптируются
    }
  }
}