.slider {
   height: fit-content;
   width: 100vw;
   position: relative;
   margin-top: 7vw;
   height: 80vw;
   overflow: hidden;  
   
   &__bg {
      position: absolute;
      width: 100%;
      z-index: -1;
   }

   &__wrapper {
      position: absolute;
      top: 9vw;
      z-index: 100;
      display: flex;
      flex-direction: row;
      width: fit-content;
      justify-content: center;
      gap: 20px;
   }

   &__slide {
      
      z-index: 2;
      width: 20%;

      &:first-child {
         margin-top: 4vw;
         width: 18%;
      }

      &:last-child {
         margin-top: 4vw;
         width: 18%;
      }
   }

   
   &__slide:nth-child(2) &__slide-img {
      margin-top: 1.4vw;
      width: 18vw;
      height: 18vw;
      margin-left: -19%;
   }

   &__slide-sample-img {
      width: 100%;
   }

   &__slide-img {
      z-index: -1;
      background-color: lightgrey;
      position: absolute;
      margin-top: 1.3vw;
      width: 16vw;
      height: 16vw;
      margin-left: -17%;
      border-color: aqua;
      
   }

   

   &__btn {
      font-family: 'FFGoodPro';  
      font-weight: 400; 
      position: absolute;
      margin-top: 35vw;
      margin-left: auto;
      background: rgba(0,0,0,0.5);
      color: white;
      border: none;
      font-size: 2rem;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
      transition: background 0.3s;
      &:hover {
         background: rgba(0,0,0,0.8);
      }
      &.prev {
         margin-left: 40vw;
      }
      &.next { 
         margin-left: 56.5vw;
      }
   }
}

.slider__slide{
   opacity: 1;
   &.hide{
      opacity: 0;
   }
}